.Entornos de desarrollo {background-color: #f2f2f2; color: #5dbbcc; font-weight: bold;}

.DigComp {background-color: #df4444; color: #84c220; font-weight: bold;}

.Sistemas Informáticos {background-color: #f2f2f2; color: #5dbbcc; font-weight: bold;}

.Bases  {background-color: #2b6363a9; color: #5f7074; font-weight: bold;}

.Inglés {background-color: #3475be; color: #db3fe0; font-weight: bold;}