.Calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background color; red: #db0303;
}

table {
    border-collapse: collapse;
    width: 100px;
    height: 200px;
    background-color: #1173c4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(131, 78, 78, 0.1);
}


body{
    background-color: rgb(46, 17, 179)
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnivIyyEKZMV8P917BV2cfORr2CKz5CWOddW89zFFjSA&s=1024');
}


td {
 
    padding: 10px;
    
}
button{
    width: 30px
    height: 30px;
    font-size: 16px;
  
}

#resultado {
    width: 100%;
    height: 65px;
    font-size: 35px;
   
}

header {
    text-align: center;
    margin-bottom: 60px;
    color: #c21e7e;;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: aquamarine
    
   
}